.container{
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
.app{
  font-family: 'Montserrat';
  background-color: #14213d;
  color: #fff;
  border-radius: 60px;
  margin: 30px auto 30px auto;
  width: 90%;
  /* height: 800px; */
}


